@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pale-azure: #70d6ffff;
  --cyclamen: #ff70a6ff;
  --atomic-tangerine: #ff9770ff;
  --naples-yellow: #ffd670ff;
  --mindaro: #e9ff70ff;

  --yinmn-blue: #355070ff;
  --chinese-violet: #6d597aff;
  --china-rose: #b56576ff;
  --light-coral: #e56b6fff;
  --buff: #eaac8bff;
}

body {
  background: #fcfcfc;
}
